// Font-weights::
$font-regular: 400;
$font-bold: 700;

// Colors::
$black: hsl(0, 0%, 0%, 100%);
$green: hsl(111, 100%, 54%, 100%);
$red: hsl(341, 100%, 49%, 100%);
$white: hsl(224, 100%, 100%, 100%);
$blue: hsl(224, 100%, 69%, 100%);
$bg-gradient: radial-gradient($blue, $white);
$yellow: hsl(37, 95%, 56%, 100%);
$btn-yellow: hsl(51, 100%, 50%, 100%);
$text-purple: hsl(285, 100%, 50%, 100%);
